.header {
    padding: 8px;
    background-color: #ff0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue
}

.main {
    display: flex;
    flex-direction: row;
    border: 2px solid #ff0000;
    margin: 16px;
    padding: 16px;
    gap: 8px;
}

.nav {
    border: 2px solid #000000;
    padding: 8px;
}

.info {
    display: flex;
    flex-direction: row;
    border: 2px solid #000000;
    padding: 8px;
}

.vasak {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    border: 2px solid rgb(8,132,214);
    padding: 8px;
}
.parem {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid rgb(8,132,214);
    padding: 8px;
    color: #ff0000;
    font-family: Arial, Helvetica, sans-serif;
    font:bold; 
}